 body{
    font-family: "Belgrano";
  }
  .charge{
    background-color: #04B486;
    padding: 1%;
  }
  .border-login{
    background-color: #04B486;
    padding: 2%;
    margin-bottom:6%;
    padding-left: 4%;
  }
  .login{
    background-color: #04B486;
    
  }
  .input-group{
    margin-bottom: 4%;
  }
  .conatiner1{
    background-color: #04B486;
  }
  .btn-log{
    background-color:#04B486;
    color: black;
    font-weight: bold;
    margin-bottom: 2%;
  }
  .btn1{
    background-color:#04B486;
    color: black;
    font-weight: bold;
    margin-bottom: 2%;
  }
  .btn-publ{
    background-color:#04B486;
    color: black;
    font-weight: bold; 
    margin-bottom: 10%
  }
  .title-charge{
    font-family: 'Courgette', cursive;
    color: #000;
    font-size: 500%;
    margin-bottom: 8%;
  }
  .little-log{
    font-family: 'Courgette', cursive;
    font-size: 170%;
  }
  .dates, .description, .hobbie{
    border: 1px solid grey;
    border-radius: 5%;
  }
  .title-login{
    font-family: 'Courgette', cursive;
    color: #000;
    background-color: transparent;
    margin-right:40%;
  }
  .mostache-sr{
  width: 50%;
  margin-left: 100%;
  margin-top: 5%;
  }
  .exit{
    margin-right: 4%;
  }
  .loader{
    width: 8%;
    margin-top: 10%;
  }
  .navHeader{
      background-color: #04B486;
  }
  .imgBar{
      width: 40px;
      height: 40px;
      margin:3px 10px;
      color: #7A7A7A;
  }
  .imgBar1{
    width: 60px;
    height: 60px;
    margin: 5px 10px 3px 25px;
  }

  .newcont{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 17% 0%;
  }
  .text-newcont{
    margin:10% 2%;
  }
  .textBar{
      font-size: 15px;
      font-family: "Belgrano";
      color: black;
  }

  .portada{
    width: 300px;
    height: 200px;
    background-image: url(../../assets/images/fondo.jpg);
    margin:0%;
  }
  .text-wall{
    margin:15% 2%;
  }
  .photo{
    width: 35%;
    position: absolute;
    left: 25%;
    top: 30%;
  }
  .user-pick{
    width: 100%;
  }
  .info{
    outline: 1px dotted grey;
    padding-top: 10%;
    width: 300px;
    height: 250px;
  }
  .profile{
    margin:3% 0.5%;
    background-color:#04B486;
    color: black;
    font-weight: bold; 
  }
  .area-wall{
    margin:3% 3% 1% 0%;
  }
    .conta-login{
    padding: 5%;
    background-color: white;
  }
  .conta-public{
    background-color: #48CBA9;
    width: 150%;
    border-radius: 2%;
    border: 2px solid #3D9F86;
    margin:10% 0%;
  }
  #publicaciones{
    margin:1%;
  }
  .sect-contact a{
    color: #ABFDE8;
  }
  .sect-contact a:hover{
    color: #25574A;
  }
  .cont{
    display: inline-block;
    background-color: #04B486;
    width: 18%;
    height: 50%;
    border: 2px solid #04B486;
    border-radius: 5%;
    text-align: center;
    margin:1% 1%;
  }
  .cont-img{
    margin-top: 2%;
    border-radius: 50%;
  }
  .btn-delet{
    background-color: #25574A;
    color: #ABFDE8;
    border:2px solid #25574A;
    margin:2% 2%;
  }
  .btn-adima{
    background-color: #25574A;
    color: #ABFDE8;
    border:2px solid #25574A;
    margin:2% 2%;
  }
  .count-cont{
    border:2px solid #14BB90;
    border-radius: 5%;
    margin:5% 7%;
    background-color: #14BB90;
    background-image: url(../../assets/images/tex.png);
  }
  .conta-mens{
    border:2px solid #14BB90;
    border-radius: 1%;
    margin:5% 7%;
    background-color: #14BB90;
  }
  .conta-wall{
    margin:5% 7%;
  }
  .profile-cont{
    background-color: #8BC7B8;
    border:4px solid #25574A;
  }
  .img-circle{
    border:4px solid #25574A;
  }
  .tex-count{
    font-size: 60px;
    margin-top: 20%;
    background:transparent;
  }

  .collection a{
    color: #0D5341;
  }

  .collection a:hover{
    color: white;
  }
  .form-invi{
    margin:10% 10%;
  }
  .btn-invi{
    background-color: #25574A;
    color: #ABFDE8;
    border:2px solid #25574A;
  }
  .but-add{
    background-color: #25574A;
    color: #ABFDE8;
    border:2px solid #25574A;
    margin:5% 5%;
  }
  .input-name{
    margin:5% 0%;
  }
  .ima{
    width: 300px;
    height: 300px;
    margin:1%;
    
  }
  .ima-cont{
    width: 310px;
    border:3px solid #25574A;
    background-color: #25574A;
    display: inline-block;
    margin: 0.5%;
  }

  .circle{
    border-radius: 50%;
    margin:2% 10%;
  }
  .cont-menssa{
    border:2px solid #25574A;
    padding: 2%;
    margin-top: 2%;
  }
  .cont-input{
    background-color: #25574A;
    border:2px solid #25574A;
    padding: 2%;
  }
  .cont-newpub{
    border:2px solid #25574A;
    background-color: #48CBA9;
    width: 100%;
    border-radius: 2%;
  }
  .tuit{
    border:2px solid #25574A;
    margin:2%;
    background-color: #48CBA9;
    width: 100%;
    border-radius: 2%;
  }

  .chat_area{
    border-bottom: 1px dotted #B3A9A9;
    margin:2%;
  }
  .group-wall{
    margin-bottom: 10%;
  }

  /*-----------------------Barra Vertical de Mensajes--------------------------*/
  aside{
    /*outline: 1px solid red;*/
    margin: 3%;
    align-items: center;
  }

  ul{
    /*outline: 1px solid YELLOW;*/
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 350%;
  }

  #Vertical-bar li{
    outline: 1px solid grey;
    background:#D8D8D8; /*gris*/
  }

  li .sub-menu{
    text-align: center;
    /*outline: 1px solid green;*/
    display: block;
    text-decoration: none;
    color: #08298A; /*azul*/
    padding-left: 10px;

  }

  li .sub-menu:hover{
    background: #D8D8D8; gris
    text-decoration: none;
    color:#04b486; /*verde barra*/
  }

  h1{
    text-align: center;
    background: #04b486;/*verde barra*/
    padding: 3%;
    color: white;
  }
